exportPattern("^[[:alpha:]]+")
import(methods)
import(utils)
import(BiocGenerics)
import(IRanges)
import(GenomicRanges)
import(GenomicFeatures)
import(edgeR)
import(GenomicAlignments)
import(DESeq2)
import(DEXSeq)
importFrom("grDevices", "dev.off", "png")
importFrom("stats", "aggregate", "formula", "p.adjust")
importFrom(parallel, mclapply)
import(S4Vectors)
import(AnnotationDbi)
import(Gviz)
exportMethods(
    "AsDiscover",
    "binGenome",
    "DUreport",
    "DUreport_DEXSeq",
    "writeAS",
    "writeCounts",
    "writeDU",
    "writeRds",
    "rds",
    "readCounts",
    "featuresg",
    "featuresb",
    "featuresj",
    "countsg",
    "countsb",
    "countsj",
    "countse1i",
    "countsie2",
    "rdsg",
    "rdsb",
    "irPIR",
    "altPSI",
    "esPSI",
     "joint",
    "junctionsPIR",
    "junctionsPSI",
    "genesDE",
    "binsDU",
    "junctionsDU",
    "show"
)
exportClasses(
    "ASpliAS",
     "ASpliCounts",
     "ASpliDU",
     "ASpliFeatures" 
)
